* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.openFile {
  cursor: pointer;
}

.preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.image {
  margin: 10px;
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.image:hover img {
  cursor: zoom-in;
  transform: scale(1.2);
}

