* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
}

.App {
  text-align: center;
}

.navBar {
  background-color: #F9AB5A;
  box-shadow: 7px 7px 15px rgb(175, 175, 175);
  min-width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.openFile {
  cursor: pointer;
  border: none;
  background: none;
}

.preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image {
  margin: 10px;
  width: 250px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.image:hover img {
  cursor: zoom-in;
  transform: scale(1.2);
}

